.configPanel {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.configLabel {
  color: var(--color-text-secondary);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  gap: 8px;
}
